.svgMap-tooltip {
  position: absolute;
  z-index: 10000;
  border-radius: $tooltip-border-radius;
  background: $tooltip-bg;
  color: $tooltip-color;
  transform: translate(-50%, -100%);
  display: none;
  pointer-events: none;
  min-width: 60px;
  opacity: $tooltip-opacity;

  &.svgMap-tooltip-flipped {
    transform: translate(-50%, 0);
  }

  &.svgMap-active {
    display: block;
  }

  .svgMap-tooltip-content-container {
    position: relative;
    padding: 0.75rem 1rem;

    .svgMap-tooltip-flag-container {

      &.svgMap-tooltip-flag-container-emoji {
        font-size: 50px;
        line-height: 0;
        padding: 25px 0 15px;
      }

      .svgMap-tooltip-flag {
        display: block;
        margin: auto;
        width: auto;
        height: 32px;
        padding: 2px;
        background: rgba(0, 0, 0, .15);
        border-radius: 2px;
      }
    }
  }

  .svgMap-tooltip-title {
    display: none;
    white-space: nowrap;
    font-size: 1rem;
  }

  .svgMap-tooltip-content {
    white-space: nowrap;
    font-size: 1rem;

    table {
      padding: 0;
      border-spacing: 0px;
      margin: auto;

      td {
        padding: 0 !important;

        &:first-child {

        }

        sup {
          vertical-align: baseline;
          position: relative;
          top: -5px;
        }
      }
    }

    .svgMap-tooltip-no-data {
      padding: 2px 0;
    }
  }

  .svgMap-tooltip-pointer {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    overflow: hidden;
    height: 8px;
    width: 24px;
  
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      background: $tooltip-arrow-color;
      position: absolute;
      bottom: 6px;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
    }
  }
  
  &.svgMap-tooltip-flipped {
    .svgMap-tooltip-pointer {
      bottom: auto;
      top: -10px;
      transform: translateX(-50%) scaleY(-1);
    }
  }
}